{% extends 'layout.html' %}

{% block title %}

    homepage

{% endblock %}

{% block main %}


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-3 sidebar">
        <!-- Sidebar content -->
        <div class="position-sticky">
          <p>任务</p>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Inbox</a>
            <!-- More sidebar items -->
          </div>
        </div>
        <!-- Other sidebar sections -->
      </div>

      <div class="col-md-8 col-lg-9 content">
        <!-- Main content -->
        <!-- Task items -->
        <!-- Other content sections -->
      </div>
    </div>
  </div>

  {% block left %}{% endblock %}

{% endblock %}
