body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #495057;
}

.editable-span {
    margin-left: 10px;
}

.date-info {
    display: block;
    font-size: 0.8em;
    color: grey;
    margin-top: 5px;
}

/* 设置时间选择框的宽度为更合适的尺寸 */
.time-select {
    width: auto;
}
