{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}

{% block main %}

  <section class="vh-100" style="background-color: #ADD8E6; background-image: url(https://img.freepik.com/free-vector/organic-white-backgroun_1199-324.jpg?w=1800&t=st=1710296117~exp=1710296717~hmac=41a99fe801d1d0f05ac0a1a72bebcb87873a822eb275cf45ba60a4e0d79b860d)">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://gitee.com/shanegitee/pic/raw/master/bg.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form action="/login" method="post">

                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Logo</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">登录</h5>

                    <div class="form-outline mb-4">

                      {{form.hidden_tag()}}
                      <div>{{form.email(class="form-control form-control-lg")}}</div>
                      <div>{{form.email.label(class="form-label")}}

                    </div>

                    <div class="form-outline mb-4">
                      <div>{{form.password(class="form-control form-control-lg")}}</div>
                      <div>{{form.password.label(class="form-label")}}

                      {% for error in form.password.errors %}
                      <br><span style="color: red; font-style: italic;">{{ error }}</span>
                      {% endfor %}

                    </div>

                    <div class="pt-1 mb-4">
                      <div class="center">{{form.submit(class="btn btn-primary btn-lg btn-block")}}</div>
                    </div>

                    <a class="small text-muted" href="#!">忘记密码?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">还没有账号? <a href="/register"
                        style="color: #393f81;">立即注册</a></p>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
